/* ===================COMMON=================== */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbf2f2;
    color: #800000;
    font-family: "Montserrat", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.heading-area {
    text-align: center;
    margin-bottom: 30px;
}

.section-heading {
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
}

.section-subtext {
    font-family: "Dancing Script", cursive;
    font-size: 1.1rem;
}

/* ===================INFO HEADER=================== */
.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8DADA;
    padding: 10px 20px;
    font-size: .8rem;
}

.info-header-social-links ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* ===================HEADER=================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #1A001A;
}

#floral-fantasies a,
nav ul a,
.header-icons ul i {
    color: #FFEFEF;
}

.header-icons ul i {
    color: #EFD9A7;
}

#floral-fantasies a {
    font-family: "Quintessential", serif;
    font-size: 2.3rem;
}

nav ul {
    display: flex;
    gap: 10px;
}

.header-icons ul {
    display: flex;
    gap: 5px;
}

/* ===================HERO=================== */

.hero-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background-image: url(assets/images/hero-image-1.png);
    height: 550px;
}

.hero-content-area {
    width: 60%;
}

.hero-content-area h1 {
    font-size: 2.5rem;
    color: #C8D8C0;
}

.hero-content-area p {
    color: #EFD9A7;
}

.hero-image-area img {
    width: 300px;
    transform: rotate(14%);
}

.outline-flower-image {
    position: absolute;
    top: 10;
}

.outline-flower-image img {
    width: 200px;
}

/* ===================ABOUT=================== */
.about-area {
    padding: 80px 200px 50px;
    text-align: center;
}

.about-heading-area {
    margin-bottom: 30px;
}

.hero-image-area video {
    padding-top: 50px;
    height: 300px;
    width: auto;
}

/* ===================STATS=================== */
.stats-area {
    padding: 30px 70px;
    background-color: #1A001A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    color: #C8D8C0;
    border-radius: 20px;
    margin-bottom: 30px;
}

.border {
    border-right: 1px solid #C8D8C0;
    padding-right: 70px;
}

.stat-number {
    font-size: 1.5rem;
    padding-bottom: 7px;
}

.stat-text {
    font-size: .9rem;
}

/* ===================SHOP BY OCCASION=================== */
.occasion-content-area {
    padding: 10px 50px 30px;
}

.occasion-content {
    display: flex;
    gap: 50px;
    align-items: center;
    overflow-x: auto;
    /* to get the scroll behaviour only in the required section in X axis */
    scroll-behavior: smooth;
    /* for smooth scrolling */
    -webkit-overflow-scrolling: touch;
    /* this decides how element behaves when some sction is taken -> "touch" means scrolling happens when user flicks finger to scroll */
}

.occasion-content::-webkit-scrollbar {
    display: none;
    /* to hide the scrollbar */
}

/* -webkit-scrollbar is to access Chrome, Safari and edge scrollbar */

.occasion-content-icon {
    padding: 20px;
    border-radius: 60%;
    width: 100px;
    height: 100px;
    /* border: 1px solid #1A001A; */
    margin-bottom: 20px;
    background-color: #F8DADA;
}

.occasion-content-icon i {
    margin-top: 25%;
    margin-left: 20%;
    font-size: 3rem;
}

.occasion-content-text {
    text-align: center;
}


/* ===================PRODUCTS=================== */


/* ===================HOLIDAY SALE=================== */
.holiday-sale-content-area {
    display: flex;
    gap: 20px;
    padding: 30px 200px;
    align-items: stretch;
}

.holiday-sale-right-card img, .holiday-sale-left-card img {
    width: 100%;
    height: 100%;
}

.holiday-sale-center-card, .holiday-sale-left-card img, .holiday-sale-right-card img {
    border-radius: 10px;
}

.holiday-sale-center-card {
    background-image: url(assets/images/holiday-sale-center-image.png);
    text-align: center;
    padding: 40px;
}

.holiday-sale-card-heading {
    margin-bottom: 30px;
}

.holiday-sale-card-heading h1 {
    color: #EFD9A7;
}

.holiday-sale-card-heading p {
    color: #F8DADA;
}

.holiday-sale-countdown {
    color: #C8D8C0;
    display: flex;
    /* justify-content: center; */
    gap: 30px;
    align-items: center;

    margin: auto;
    /* text-align: center; */
}

.holiday-sale-button {
    margin-top: 10px;
}

.holiday-sale-button a {
    color: #EFD9A7;
}

/* ===================NEW ARRIVALS=================== */
.new-arrivals {
    background-color: #3D001A;
    color: #FFEFEF;
    padding: 50px 30px;
}

.new-arrivals-heading-area .section-subtext {
    color: #C8D8C0;
}

.new-arrivals-content-area {
    display: flex;
    gap: 40px;
    align-items: stretch;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    padding: 10px 5px;
}

.new-arrivals-content-area::-webkit-scrollbar {
    display: none;
}

.new-arrivals-item {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 0 0 350px;
    border: 1.5px solid #EFD9A7;
    /* color: #3D001A; */
    /* background-color: #F8DADA; */
    border-radius: 10px;
    padding: 10px 15px;
}

.new-arrivals-subtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.new-arrivals-subtext p {
    font-size: .7rem;
}

.new-arrivals-subtext i {
    color: gold;
}

.price {
    color: #C8D8C0;
}

.new-arrivals-maintext h5 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #EFD9A7;
}

.new-arrivals-maintext p {
    font-size: .75rem;
    margin-top: 8px;
}

.new-arrivals-image {
    width: 100%;
}

.new-arrivals-image img {
    width: 100%;
}

.new-arrivals-button {
    margin-top: 7px;
}

.new-arrivals-button a, .new-arrivals-button i {
    color: #EFD9A7;
    font-size: .8rem;
}

/* ===================WEEKLY DEALS=================== */
.weekly-deals-content-area {
    background-color: #3D001A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 150px;
    border-radius: 20px;
    /* padding: 50px; */
}

.weekly-deals-text {
    padding: 50px;
}

.weekly-deals-text h4,
.weekly-deals-text p {
    color: #EFD9A7;
}

.weekly-deals-text h1 {
    color: #C8D8C0;
}

.weekly-deals-image img {
    width: 80%;
    padding-top: 20px;
}

.weekly-deals-button {
    margin-top: 20px;
}

.weekly-deals-button a {
    padding: 10px 20px;
    background-color: #F8DADA;
    color: #3D001A;
    border-radius: 20px;
}

/* ===================TESTIMONIALS=================== */


/* ===================BLOG INTRO=================== */
#blogs-intro {
    background-color: #3D001A;
    padding: 45px 30px;
}

.blogs-intro-heading-area .section-heading {
    color: #F8DADA;
}

.blogs-intro-heading-area .section-subtext {
    color: #C8D8C0;
}

.blogs-intro-content-area {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px 80px 30px;
}

.blog-intro-item {
    /* background-color: #F8DADA; */
    border: 1.5px solid #EFD9A7;
    border-radius: 10px;
    width: 27%;
    padding: 20px 25px;
}

.blog-subtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F8DADA;
    padding-top: 7px;
}

.blog-subtext h6, .blog-subtext p {
    font-size: .7rem;
}

.blog-intro-text {
    font-size: .9rem;
}

.blog-intro-text h4 {
    color: #EFD9A7;
    padding-top: 7px;
    padding-bottom: 7px;
}

.blog-intro-text span {
    text-align: justify;
    color: #F8DADA;
    font-size: .8rem;
}

.blog-intro-text a {
    display: block;
    padding-top: 7px;
    color: #C8D8C0;
    text-decoration: underline;
}

.blog-intro-image img {
    width: 100%;
    border-radius: 10px;
}

.blog-intro-button {
    margin-top: 20px;
    text-align: center;
}

.blog-intro-button a {
    color: #3D001A;
    padding: 10px 20px;
    background-color: #F8DADA;
    border-radius: 20px;
}

/* ===================FOLLOW US=================== */
.follow-us-area {
    padding: 80px 100px;
    text-align: center;
}

.follow-us-image-area {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.follow-us-image-area img {
    border-radius: 5px;
}

.follow-us-left-image-area,
.follow-us-right-image-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;

}

.follow-us-left-image-area img,
.follow-us-right-image-area img {
    /* width: 200px; */
    height: 200px;
}

.follow-us-center-image-area img {
    height: 414px;
}

.follow-us-area span {
    padding-top: 20px;
    font-family: "Playwrite AU QLD", cursive;
}

/* ===================FEATURES=================== */
.features-content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 40px;
    margin: 10px;
}

.feature-item {
    display: flex;
    gap: 8px;
    align-items: center;
    /* background-color: #F8DADA; */
    border-radius: 10px;
    margin: 30px;
    padding: 20px 30px;
}

.feature-icon i {
    font-size: 2rem;
}

.feature-content p {
    font-size: .8rem;
}

/* ===================CONTACT=================== */


/* ===================FOOTER=================== */

footer {
    background-color: #1A001A;
    padding: 30px 50px;
    font-size: .8rem;
}

footer a,
footer p,
footer i {
    color: white;
}

.main-footer-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-brand-name {
    font-size: 1.5rem;
    font-family: "Quintessential", serif;
    padding-bottom: 5px;
}

.footer-contact {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.footer-right-part {
    display: flex;
    gap: 50px;
    align-items: start;
}

.footer-link-heading {
    font-size: 1rem;
    padding-bottom: 10px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.social-links ul {
    display: flex;
    gap: 20px;
    margin: 5px auto;
}

.social-links ul li {
    padding-bottom: 5px;
}